#options {

  &-inner {
    padding: .5rem;
  }

  #credits {
    padding: .5rem;
    border-top: thin solid lightgray;

    p {
      text-align: right;
      font-size: 120%;

      a {
        color: deepskyblue;
      }
    }
  }
}
